.page-not-found-container {
    margin: auto;
    border-top: 2px solid #ebebeb;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
}

.page-not-found-left {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 29%;
    margin-top: 50px;
}

#home-link {
    text-decoration: none;
    color: #027a97;
}

.page-not-found-right {
    margin: auto;
}
