.search {
    padding-right: 5px;
}
.search-inputs {
    display:flex;
    flex-direction: row;
    border-radius: 2px;
    height: 35px;
    justify-content: space-between;
    width: 300px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(102, 101, 101, 0.3);;
}

.search input {
    background-color: white;
    border: 0;
    margin-left: 10px;
    font-size: 16px;
    padding: 5px 5px 5px 5px;
    height: 25px;
    width: 300px;
}

.search input:focus {
    outline: 0;
}

.search-icon-button{
    background-color: rgba(224,7,7,1);
    border: 0;
    color: rgb(129, 129, 129);
    cursor: pointer;
    transition: 0.5s;
    height: 35px;
}

.search-icon-button:hover {
    background-color: red;
}

#search-icon {
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
    color: white;
}

#search-icon:hover{
    background-color: red;
    /* border-radius: 50%; */
    cursor: pointer;
}

.close-icon-button {
    background-color: rgb(241, 240, 240);
    border: 0;
    color: rgb(129, 129, 129)
}

#close-icon {
    cursor: pointer;
    border-radius: 50%;
    transition: 0.5s;
    background-color: rgb(241, 240, 240);
}

#close-icon:hover{
    background-color: lightgray;
    border-radius: 50%;
    transition: 1s;
}

.daycares-results {
    /* margin-top: 5px; */
    border: 1px solid rgb(238, 235, 235);
    border-radius: 2px;
    background-color: white;
    /* box-shadow: rgba(0,0,0,0.35); */
    overflow: hidden;
    width: 263.5px;
    position: absolute;
    margin-left: 0rem;
    z-index: 4;
    transition: .3s;
}

.searched-daycare {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
}

.searched-daycare:hover {
    background-color: #FAFAFA;
}

#search-bar-daycare-pic {
    border-radius: 10px;
    width: 2.5rem;
    height: 2.5rem;
    padding: 5px;
}

#search-bar-daycare-name {
    text-decoration: none;
    color: black;
}
