.add-daycare-button {
    float: right;
    max-width: 15%;
    padding: 5px;
    background-color: white;
    border: 1px solid rgba(200,201,202,1);
    border-radius: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    transition: background-color .7s;
    cursor: pointer;
}

.add-daycare-button:hover {
    background-color: lightgrey;
}

.daycaresContainer {
    padding: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    min-width: 95%;
    text-decoration: none;
    border-top: 2px solid #ebebeb;
    overflow-x: hidden;
    margin-top: 60px;
    position: absolute;
    background-color: #fff;
}

.daycaresContainer2 {
    border-bottom: 1px solid #ebebeb;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-decoration: none;
    overflow-x: hidden;
    max-width: 60%;
    border-radius: 4px;
    transition: box-shadow .3s
}

.daycaresContainer2:hover {
    box-shadow: 0px 0px 5px rgba(0,0,0,.3);
}

.link {
    text-decoration: none;
    color: black;
}

.daycare-img {
    float: left;
    height: 80%;
    width: 50%;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.daycare-description {
    padding-bottom: 20px;
}

.daycare-business-hours, .daycare-phone-number, .daycare-address {
    padding: 5px;
}
