.delete-review-button {
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    border: solid red;
    padding-bottom: 7px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    border-radius: 4px;
    background-color: rgba(224,7,7,1);
    color: rgba(255,255,255,1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: none;
    box-sizing: border-box;
    transition: background-color .7s;
    margin-left: -300px;
    margin-top: 220px;
    width: 250px;
}

.delete-review-button:hover {
    background-color: red;
    box-shadow: 2px;
}

.reviews-container {
    padding: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    min-width: 90%;
    text-decoration: none;
    border-top: 2px solid #ebebeb;
    overflow-x: hidden;
    margin-top: 10px;
}

.reviews-list {
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-decoration: none;
    overflow-x: hidden;
    max-width: 90%;
    margin-left: 30px;
}

.review-title {
    margin-top: -5px;
    margin-left: 40px;
}

.review-user-name {
    margin-top: -1px;
}

.review-rating {
    color: rgba(224,7,7,1);
    font-size: 17px;
    font-weight: bold;
}

.review {
    font-size: 16px;
}

.review-image {
    float: left;
    height: 200px;
    width: 300px;
    margin-top: 10px;
}

.review-inner-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: -10px;
    margin-bottom: 10px;
}
