.delete-review-button {
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    background-color: red;
    border-radius: 2px;
    border: solid red;
    color: white;
}

.reviews-container {
    padding: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    min-width: 90%;
    text-decoration: none;
    border-top: 2px solid #ebebeb;
    overflow-x: hidden;
    margin-top: 10px;
}

.reviews-list {
    border: 2px solid #ebebeb;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-decoration: none;
    overflow-x: hidden;
    max-width: 90%;
}

.review-image {
    float: left;
    height: 200px;
    width: 300px;
    margin-top: 10px;
}
