.review-form-container-errors {
    height: 440px;
    width: 500px;
    margin: auto;
    margin-bottom: -30px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.review-form-container {
    height: 350px;
    width: 500px;
    margin: auto;
    margin-bottom: -30px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.create-review-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.post-review-button {
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    border: solid red;
    padding-bottom: 7px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    border-radius: 4px;
    background-color: rgba(224,7,7,1);
    color: rgba(255,255,255,1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: none;
    box-sizing: border-box;
    transition: background-color .7s;
    margin-top: 10px;
    width: 235px;
    cursor: pointer;
}

.post-review-button:hover {
    background-color: red;
    box-shadow: 2px;
}

.review-input {
    width: 200px;
}

.review-form-header {
    font-size: 18px;
    text-align: center;
}

.select-label, .review-label {
    padding-bottom: 10px
}

.image-label {
    padding: 10px;
}

.select-rating {
    margin-left: 10px;
    font-size: 16px;
}
.review-errors {
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.pls-fix-review-errors {
    margin-bottom: 10px;
    text-align: center;
}

.errors {
    margin: auto;
}

.review-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-size: 18px;
}

/* stars */

.stars{
    display: none;
  }

  .star {
    cursor: pointer;
    transition: color 200ms;
  }

  .star-rating-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  #review_stars {
    display: flex;
    flex-direction: row;
  }
