.daycare-details-container:not(.image-container) {
    border-top: 2px solid #ebebeb;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.daycare-title {
    font-size: 50px;
    font-family: "Open Sans",sans-serif;
    margin: 0;
}

.image-container {
    text-align: center;
    margin: 0 auto;
    max-width: 1922px;
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.top-content {
    color: #fff;
    width: 1200px;
    position: absolute;
    top: 330px;
    left: 15%;
}

.top-content-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#reviews-length {
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.daycare-hours {
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-left: 2.5px;
}

.daycare-hours2 {
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-left: 8px;
}

.delete-daycare-button {
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    border: solid red;
    padding-bottom: 7px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    border-radius: 4px;
    background-color: rgba(224,7,7,1);
    color: rgba(255,255,255,1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: none;
    box-sizing: border-box;
    transition: background-color .7s;
    width: 250px;
    cursor: pointer;
}

.update-daycare-modal-button {
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    border: solid red;
    padding-bottom: 7px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    border-radius: 4px;
    background-color: rgba(224,7,7,1);
    color: rgba(255,255,255,1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: none;
    box-sizing: border-box;
    transition: background-color .7s;
    width: 250px;
    cursor: pointer;
}

.leave-review-modal-button {
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    border: solid red;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    border-radius: 4px;
    background-color: rgba(224,7,7,1);
    color: rgba(255,255,255,1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: none;
    box-sizing: border-box;
    transition: background-color .7s;
    cursor: pointer;
}

.delete-daycare-button:hover, .update-daycare-modal-button:hover, .leave-review-modal-button:hover {
    background-color: red;
    box-shadow: 2px;
}

.review-save-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.location-hours {
    margin-left: 30px;
    border-bottom: 1px solid #ebebeb;
    width: 50%;
}

.business-about {
    margin-left: 30px;
    width: 50%;
}

.logged-in-daycare-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    margin-left: 30px;
}
