.paws-logo {
    height: 30px;
    width: 30px;
    float: left;
}

.home-link {
    display: flex;
    flex-direction: row;
    gap: 5px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    /* margin-top: 5px; */
    margin-left: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.signup-link {
    float: right;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    border: solid red;
    padding-bottom: 7px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    /* margin-right: 50px; */
    border-radius: 4px;
    background-color: rgba(224,7,7,1);
    color: rgba(255,255,255,1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: none;
    box-sizing: border-box;
    transition: background-color .7s
}

.signup-link:hover {
    background-color: red;
    box-shadow: 2px;
}

.login-button {
    float: right;
    text-align: center;
    font-size: 20px;
    border-radius: 4px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    margin-right: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: transparent;
    border: 1px solid rgba(200,201,202,1);
    color: rgba(45,46,47,1);
    box-shadow: none;
    box-sizing: border-box;
    transition: background-color .7s
}

.login-button:hover {
    background-color: lightgrey;
}

.daycares-link {
    float: right;
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-align: center;
    margin-right: 10px;
    /* margin-top: 8px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: background-color .7s
}

.daycares-link:hover {
    background-color: lightgray;
    border-radius: 4px;
}

.profile-icon-button {
    float: right;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: white;
    border: solid rgba(224,7,7,1);
    padding: 5px;
    /* margin-right: 50px; */
    border-radius: 2px;
    background-color: rgba(224,7,7,1);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: background-color .7s;
    cursor: pointer;
}

.profile-icon-button:hover {
    background-color: red;
    /* box-shadow: 2px; */
}

.profile-link {
    float: right;
    text-align: center;
    font-size: 20px;
    border-radius: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    margin-right: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: transparent;
    border: 1px solid rgba(200,201,202,1);
    color: rgba(45,46,47,1);
    box-shadow: none;
    box-sizing: border-box;
    transition: background-color .7s;
    text-decoration: none
}

.profile-link:hover {
    background-color: lightgrey;
}

.profile-dropdown {
    position: absolute;
    top: 35px;
    list-style: none;
    margin-left: 30px;
    width: 130px;
    background-color: white;
    padding-left: 0px;
    box-shadow: 0px 0px 3px lightgray;
    border-radius: 6px;
    z-index: 1;
    cursor: pointer;
}

.logout-button {
    float: left;
    font-size: 16px;
    border-radius: 2px;
    background-color: white;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    transition: border .3s;
    padding-left: 2px;
    padding-bottom: 2px;
}

/* .logout-button:hover {
    border: solid red;
} */

.username {
    float: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 2px;
    padding-bottom: 2px;
    border-bottom: 1px solid lightgray;
    width: 128px;
}

.email {
    float: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 2px;
    padding-bottom: 2px;
    border-bottom: 1px solid lightgray;
    width: 128px;
}

.search-bar {
    margin-left: 200px;
    width: 610px;
    display: flex;
    justify-content: center;
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -50px;
}
